
# AWS / DynamoDB
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
DDB_PRODUCT_TABLE=oasis-protect-product-ddb-01-dev
DDB_CONTRACT_TABLE=oasis-protect-productcontract-ddb-01-dev
DDB_FEATURES_TABLE=oasis-protect-productfeatures-ddb-01-dev
DDB_SNAPSHOT_TABLE=oasis-protect-productsnapshot-ddb-01-dev

# Postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/oasis_admin
